body {
    margin: 0;
}
#toldo {
    width: auto;
    margin: auto;
    button {
        border: 3px solid blue;
        background-color: red;
        color: black;
        font-size: 30px;
        font-weight: bold;
        border-radius: 10px;
    }
    button:hover {
        background-color: yellow;
        border-color: green;        
    }
    button:active {
        background-color: black;
        border-color: white;
        color: white;
    }
}